.vscode/
old_data/
debug/
jl_old/
bash/
args_version/
data/
bash/
latexfile/
todo2/
rand_mo_int/
__pycache__/
temp/
__pycache__/
benchmark
shell/
error-log/
callback/
*.sh
bashs/
*.jld2

# Native build artifacts
src/lib/*.so
*.so